[client]
user="roomaraderie"
password="Capstone132"

[mysql]
user="roomaraderie"
password="Capstone132"

[mysqldump]
user="roomaraderie"
password="Capstone132"

[mysqldiff]
user="roomaraderie"
password="Capstone132"
